  .container-1{
    display:flex;
    justify-content: center;
    height: 46.5em;
    width:96em;
    padding:0;
    margin:0;
  }
  .chatlist{
    height:100%;
    width:20%;
    background-color: #2d2b40;
    color:white;
    border-right: solid 1px black;
  }
  .chatbox{
    height:100%;
    width:80%;
  }
  /*Chatbox*/
  
  /*info chatbox*/
  .holder, #holder {
    width:100%;
    height: 10%;
    flex-direction: column;
    background-color: #2d2b40;

  }
  .details {
    display: flex;
    gap: 8px;
    align-items: center;
    padding:0.5em 1em;
    float:left;
  }
  
  .menu {
    color: white;
    font-weight: bold;
    float:right;
    padding:0.7em 1em;
    font-size:25px;
  }
  
  .details img {border-radius: 50%;height: 48px;border: 2px solid white;box-shadow: 0px 2px 2px 0px #0000002e;}
  
  .contacto {
    color: white;
    font-size: 18px;
  }
  
  .contacto .name {
    font-weight: bold;
  }
  
  .contacto .status {font-size: 0.75em;}
  /*Content chatbox*/
  .content {
    height:80%;
    background-color: #454261;
    flex: 1;
  }
  /*Input chatbox*/
  .entry {
    background-color: #2d2b40;
    display: flex;
    padding: 8px;
    align-items: center;
    height: 10%;
  }
  
  #msg {
    transition: all 0.3s;
    flex: 1;
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 5px;
    border: none;
    border: 1px solid white;
    color: gray;
    height: 45px;

  }
  
  #msg:focus {
    border: 2px solid gray;
    outline: none;
    color: black;
    height: 45px;
  }
  .send {
    height: 45px;
    width: 45px;
    border:none;
    border-radius: 10px;
    transition:all 0.3s;
    font-size: 16px;
    cursor:pointer;
  }
  .send:hover{
    color: #604bcb;
    background-color: white;
  }
  /*--------------------------*/
  /*Chat list*/
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #454261;
    float: left;
    width: 75%;
    height:38px;
    background: #454261;
    border-radius: 5px 0px 0px 5px;
    margin-left:7px;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    height:38px;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
  }

  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .item{
    width:100%;
    height:4.5em;
    margin:15px 0px;
    padding:10px 0px;
    border-radius: 5px;
    background-color: #2d2b40;
    display:flex;
  }
  .item:hover{
    background-color: #454261;
  }
  .item img {
    border-radius: 50%;
    height: 48px;
    width:48px;
    border: 2px solid white;
    box-shadow: 0px 2px 2px 0px #0000002e;
    margin:0px 10px;
  }
/*--------------------------*/
